* {
  margin: 0;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* MENU ==================================================== */
.menu {
  margin-top: 1rem;
}

.nav {
  background-color: white;
  display: flex;
}

.nav-item {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  list-style-type: none;
  margin-right: 1rem;
  height: 100%;
}

.nav-item:hover {
  box-shadow: inset 0px 0px 0px 1px rgb(184, 184, 184);
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}
.nav-link:hover {
  color: rgb(184, 184, 184);
}
/* LAYOUT ==================================================== */

.page-heading-container{
  margin: 1rem 0 1rem 0;
  /* border: 1px solid white; */
  padding: 2rem;
  background-image: url("./assets/img/header-back.png");
  background-size: cover;
}
.page-heading {
  font-size: 2.5rem;
}
.page-description {
  font-size: 1.5rem;
  margin-top: .5rem;
}
/* FORMS ==================================================== */
.container{
  justify-content: center;
  display: flex
}
.authForm{
  justify-content: center;
  background-size: cover;
  border: 1px solid rgb(184, 184, 184);
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  width: 20rem
}
.form-control{
  justify-content: center;
  display: flex;
  margin: 1rem;
  border: 1px solid rgb(184, 184, 184);
  border-radius: .5rem;
}
.form-field{
  border: none;
  font-size: 1.25rem;
  border-radius: .5rem;
  padding:.5rem;
  background-color: rgba(0,0,0,0);
  color: white
}
.form-field::placeholder{
  background-color: black;
  color: rgb(184, 184, 184);
  text-align: center;
}
.form-btn{
  text-align: center;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(184, 184, 184);
  background-color: black;
  border-radius: .5rem;
  font-size: 1.25rem;
}

/* SUCCESS & ERROR MESSAGE STYLING =========================================== */
.success {
  text-align: center;
  border: 1px solid rgb(130, 211, 130);
  width: 20rem;
  padding: 1rem;
  border-radius: .5rem;
  color: rgb(130, 211, 130);
}
.success a {
  color: rgb(0, 204, 204);
  font-weight: bold
}
.error {
  text-align: center;
  border: 1px solid red;
  width: 20rem;
  padding: 1rem;
  border-radius: .5rem;
  color: red;

}